@model TPFin.Models.Comentario
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comentario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idPost" />
            <input type="hidden" asp-for="idUser" />
            <input type="hidden" asp-for="fecha" />
            
            <div class="form-group">
                <label asp-for="contenido" class="control-label"></label>
                <input asp-for="contenido" class="form-control" />
                <span asp-validation-for="contenido" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input
                    asp-route-idp=@ViewData["idPost"]
                    asp-route-idu=@Accessor.HttpContext.Session.GetInt32("_id")
                    type="submit"
                    value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home"
            asp-action="IndexAdmin">Volver al menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
