@model TPFin.Models.Usuario

@{
    ViewData["Title"] = "Create";

    if(null != TempData["MessagemailExiste"])
   {
      <script type="text/javascript">
       alert('@TempData["MessagemailExiste"]');
      </script>
   }    
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAdm" /> @Html.DisplayNameFor(model => model.isAdm)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary"/>
            </div>

            

        </form>
    </div>
</div>

<div>
    <a
       type="button"
       class="btn btn-warning mt-3"
       asp-controller="Login"
       asp-action="Index"
     >Volver a inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
